<!DOCTYPE html>
<html>
  <head>
    <title>NORMAN</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">NORMAN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">List<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Information</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="wrapper" class="container-fluid">
      <h1 class="text-center">WELCOME TO NORMAN</h1>

      <section id="table--container" class="card">

        <table id="my-table" class="display table table-striped table-hover"  cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Age</th>
              <th>Course</th>
              <th>Version</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Age</th>
              <th>Course</th>
              <th>Version</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </tfoot>
        </table>

      </section>

      <section id="form--container">

        <div id="success--alert" class="alert alert-success alert-dismissible fade" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          Student record added successfully.
        </div>

        <div id="fail--alert" class="alert alert-danger alert-dismissible fade" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>An error</strong> has occured. Check your data.
        </div>

        <form id="student--form" enctype="application/x-www-form-urlencoded" action="/students" method="POST">
          <div class="form-group">
            <label for="fullName">Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Full Name" name="name">
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" placeholder="Age" name="age">
          </div>
          <div class="form-group">
            <label for="course">Course</label>
            <input type="text" class="form-control" id="course" placeholder="Course" name="course">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </section>

    </div>
  </body>
</html>