body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: beige;
}

a {
    color: #00B7FF;
}

/* wrapper container */
#wrapper {
    padding-top: 2rem;
}

/* table list section */
#table--container {
    padding-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

/* section containing form */
#form--container {
    padding-top: 2rem;
}

/*View Dialog styles*/
.card-title {
    font-size: 1.5rem;
    text-align: center;
}

.alertify .ajs-dialog {
    max-width: 600px;
    min-height: 122px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

#id {
    padding: 0;
}

hr {
    margin-bottom: 0;
}
