body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: beige;
}

a {
    color: #00B7FF;
}

/* wrapper container */
#wrapper {
    padding-top: 2rem;
}

/* table list section */
#table--container {
    padding-top: 2rem;
}

/* section containing form */
#form--container {
    padding-top: 2rem;
}

/*View Dialog styles*/
.card-title {
    font-size: 1.5rem;
    text-align: center;
}

/*.ajs-button {
    color: #fff;
    background-color: #0069d9;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.3rem;
}*/
